# PDF Extraction
pymupdf4llm

# Image handling for PDF image extractor (Scanned PDFs)
Pillow>=10.0.0

# LLM Providers
huggingface_hub

# Data Validation
pydantic>=2.0.0

# Web UI
flask>=3.0.0
flask-cors>=4.0.0

# Utilities
python-dotenv>=1.0.0
tqdm>=4.65.0
codecarbon
ecologits



llama-cpp-python -C cmake.args="-DGGML_CUDA=on -DGGML_CUDA_FORCE_DISABLE_GRAPHS=on -DCUDAToolkit_ROOT=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v13.2"